// Place all the styles related to the api/listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ListingsGrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.Listing {
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 175px;
  border: none;
  margin: 20px 20px 40px 20px;
  border-radius: 8px;
}

.ListingImage {
  width: 175px;
  border-radius: 8px;
  height: 175px;
}

.ListingImageBig {
  width: 500px;
  height: 500px;
  border: 20px whitesmoke solid;
  margin: 20px 0px;
  border-radius: 8px;
}

.ListingBox {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.CartButton {
  background-color: orangered;
  width: 150px;
  height: 40px;
  color: white;
  align-content: center;

  //justify-content: center;
  margin: 20px 20px 5px 0px;

  padding: 1px 7px 1px 0px;
  font-size: 20px;
  border-radius: 5px;
}

.ListingDetails {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 20px 40px;
}

.fa-heart {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  color: red;
}

.Price {
  font-weight: bold;
}
