// Place all the styles related to the api/listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ListingsGrid {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 50% 50%;
}

.Listing {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid black 1px;
  margin: 20px;
  border-radius: 8px;
}

.ListingPhoto {
  width: 200px;
  height: 200px;
}
