// Place all the styles related to the api/listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .ListingsGrid {
//   display: grid;
//   grid-template-columns: 25% 25% 25% 25%;
//   grid-template-rows: 33% 33% 33%;
//   width: 100%;
// }
.ListingsGrid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-top: 10px;
}

.home-pin-wrap {
  /* width: 240px; */
  border-radius: 30px;
  margin: 10px 10px;
  filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.4));
  transition: filter 0.25s ease-in-out;
}
.home-pin-wrap:hover {
  filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.6));
}

.Listing {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 250px;
  border: none;
  margin: 30px 30px 30px 30px;
  border-radius: 30px;
}

.ListingImage {
  width: 250px;
  border-radius: 30px;
  height: 250px;
}

.home-pin-wrap:hover > .ListingImage {
  filter: brightness(0.6);
  cursor: zoom-in;
}

.ListingImageBig {
  width: 500px;
  height: 500px;
  border: 20px whitesmoke solid;
  margin: 20px 0px;
  border-radius: 8px;
}

.ListingBox {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.CartButton {
  background-color: orangered;
  width: 150px;
  height: 40px;
  color: white;
  align-content: center;

  //justify-content: center;
  margin: 20px 20px 5px 0px;

  padding: 1px 7px 1px 0px;
  font-size: 20px;
  border-radius: 5px;
}

.ListingDetails {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 20px 40px;
}

.fa-heart {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  color: grey;
}

.fa-heart:active {
  color: red;
}

.Price {
  font-weight: bold;
}
.ListingFormPage {
  // border: 1px grey solid;
  width: 50%;
  height: 700px;
  justify-self: center;
  margin: 50px 200px 50px 200px;
  justify-content: center;
}

.ListingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputField {
  width: 350px;
  height: 30px;
  margin: 10px 0 10px 10px;
}
.InputFieldTextArea {
  width: 400px;
  height: 200px;
  margin: 10px 0 10px 10px;
}
.Label {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.InputAndLabel {
  display: flex;
  align-items: center;
}

.home-masonry {
  margin: 0 auto;
}
