// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.SessionForm {
  display: flex;
  color: grey;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  border: solid lightgrey 1px;
}

.FormFields {
  margin: 10px;
  color: grey;
  border: none;
  width: 80%;
  height: 20px;
  background-color: rgb(223, 236, 232);
}

.SessionButton {
  background-color: #f1641e !important;
  width: 100px;
  height: 40px;
  color: white;
  align-content: flex-start;
  // margin: 20px 20px 5px 20px;
  font-size: 14px;
  border-radius: 5px;
}

.ErrMsg {
  color: red;
  list-style: none;
}

.LoginSignUpLinks {
  width: 20%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-right: 20px;
}
.Links {
  // margin: 20px 20px 5px 20px;
  //font-size: 20px;
  align-items: flex-start;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.Navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 10px;
}
.HeaderText {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #f1641e !important;
  margin: 0px;
  padding-bottom: 0px;
  //justify-content: center;
}
.subText {
  font-family: "Lora", serif;
  font-size: 32px;
  letter-spacing: 0.5px;
  color: #222;
  width: 100%;
  padding: 0px 12px 12px;
  font-weight: 300;
  // justify-items: center;
  // align-items: center;
  // justify-content: center;
  // align-self: center;
  // justify-self: center;
  text-align: center;
  //text-justify: center;
  //align-items: center;
}
.subTextAndPics {
  display: flex;
  flex-direction: column;
  width: 100%;
  // justify-items: center;
  // align-items: center;
  // align-content: center;
}
.Header {
  color: #f1641e !important;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  font-family: "times-new-roman";
  font-weight: 300;
}

.fa-shopping-cart {
  align-content: flex-start;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.Notification {
  padding: 2px 5px;
  border-radius: 50%;
  background: #f1641e !important;
  color: white;
  margin: 0px;
}
.Cart {
  display: flex;
  flex-direction: column;
}
