// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.SessionForm {
  display: flex;
  color: grey;
  flex-direction: column;
  width: 200px;
  height: 150px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  border: solid lightgrey 1px;
}

.FormFields {
  margin: 10px;
  color: grey;
  border: none;
  width: 80%;
  height: 20px;
  background-color: rgb(223, 236, 232);
}

.SessionButton {
  background-color: orangered;
  width: 100px;
  height: 40px;
  color: white;
  align-content: center;

  //justify-content: center;
  margin: 20px 20px 5px 20px;
  font-size: 20px;
  border-radius: 5px;
}

.ErrMsg {
  color: red;
}

.LoginSignUpLinks {
  width: 30%;
  height: 80px;
  display: flex;
  //flex-direct ion: row;
  align-items: flex-end;
  justify-content: left;
  //border: 1px solid black;
}
.Links {
  margin: 20px 20px 5px 20px;
  font-size: 20px;
}

.Navbar {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: orange;
}
.HeaderText {
  display: flex;
  flex-direction: column;
  //justify-content: center;
}
.Header {
  color: whitesmoke;
  font-size: 40px;
  margin: 0px;
}

.fa-shopping-cart {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.Notification {
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  margin: 0px;
}
.Cart {
  display: flex;
  flex-direction: column;
}
