.Sidebar {
  display: flex;
  width: 200px;
  height: 800px;
  background-color: peachpuff;
}

.SidebarItems {
  list-style: none;
  height: 50px;
  font-size: 24px;
}

.MainPage {
  display: flex;
}

.StandardText {
  font-size: 24px;
}
